.itineray-list--item {
  // position: fixed;
  // top: 90%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  /* z-index: 9999; */
  display: flex;
  background-color: rgba(255, 241, 237, 0.95);
  border-radius: 20px;
  margin: 0 auto; 
  margin-bottom: 50px;
  max-width: 88vw;
  max-height: 80vh;
  padding: 20px;
  width: 90vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  position: absolute;
  top: 15vh;
  left: 5.5vw;
}

.itineray-list--item-map {
  height: 73vh;
  width: 100%;
  min-width: 300px;
  margin: 1rem;
  border-radius: 1rem;
  border: 1px solid #FF8197;
}

.itineray-list--item-header {
  margin: 2rem;
  overflow-y: scroll;
  div {
    text-align: left;
    max-height: 90vh;
    overflow-y: auto;
  }
}
.itineray-list--item-description {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid #FF8197;
}

.itineray-list--item-map-infoWindow {
  display: flex;
  img {
    border-radius: 1rem;
    margin-left: 0.5rem;
    width: 120px;
    height: 120px;
  }

  text-align: left;

}
.gm-style-iw { width: 400px !important; }

.btn-primary {
  color: #fff1ed;
  background-color: #FF8197;
  border-color: #FF8197;
}
.btn-primary:hover {
  background-color: #374B73 ;
  border-color: #374B73;
}
.accommodation {
  margin-top: 2rem;
  border-top: 2px solid #FF8197;
  padding-top: 1rem;
}

.close-button{
  max-height: 24px;
  background-color: #ff8197;
  color: #fff1ed;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}