$color-primary: #374b73;
$color-background: #fff1ed;
$color-button-bg: #ff8197;
$color-button-text: #fff1ed;


.itinerary-master-container{
  background-color: rgba(255, 241, 237, 0.95);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 95vw;
  padding: 20px;
  width: 90vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  font-family: 'Mandali', sans-serif;
}

.itinerary-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #374b73;
  margin-bottom: 0;
}

.itinerary-header {
  width: 100%;
  text-align: left;
  font-size: 45px;
  color: #374b73;
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-left: 20px;
  font-weight: bold;
}

.itinerary-empty {
  background-color: rgba(255, 241, 237, 0.95);
  color: #374b73;
  padding-top: 80px;
  padding-bottom: 170px;
}

.itinerary-empty a {
  color: #374b73;
  text-decoration: none;
}

.itinerary-empty a:hover {
  text-decoration: underline;
}

.itinerary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-top: 5px;
}

.itinerary-item--photo {
  margin-top: 30px;
  border-radius: 8px;
  width: 450px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.itinerary-item--location {
  font-size: 30px;
  opacity: 0.8;
  float: left;
  margin-top: 5px;
  padding-bottom: 10px;
}

.itinerary-loader--container {
  background-color: #FF8197;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.itinerary-list--loader {
  color: #FFF1ED;
  margin-bottom: 30px;
  border-radius: 8px;
  width: 90%px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Mandali', sans-serif;
}

.itinerary-item--photo-container {
  position: relative;
}


.delete-button{
  max-height: 25px;
  background-color: #ff8197;
  color: #fff1ed;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 43px;
  position: absolute;
  right: 15px;
}