$color-primary: #374b73;
$color-background: #fff1ed;
$color-button-bg: #ff8197;
$color-button-text: #fff1ed;

.register-container {
  background-color: #ff8197;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-radius: 20px;
  width: 100%;
  margin: 0 auto;

  .register-message {
    background-color: #fff1ed;
    color: #ff8197;
    border-radius: 8px;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .register-input {
    background-color: #fff1ed;
    color: #ff8197;
    border-radius: 5px;
    width: 360px;
    padding: 15px;
    border: none;
  }

  .register-submit {
    background-color: #fff1ed;
    color: #ff8197;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: auto;
    font-weight: bold;
    width: 50%;
    font-size: 22px;
  }
}
