$color-primary: #374b73;
$color-background: #fff1ed;
$color-button-bg: #ff8197;
$color-button-text: #fff1ed;

.register-container {
  background-color: #FF8197;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Mandali', sans-serif;

  .register-message {
    color: #FFF1ED;
    margin-bottom: 20px;
  }

  .register-label {
    color: #FFF1ED;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .register-input {
    padding: 8px;
      border: none;
      border-radius: 8px;
      margin-bottom: 10px;
      width: 360px;
  }

  .register-submit {
    background-color: #fff1ed;
    color: #FF8197;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: auto;
    font-weight: bold;
  }
}
