.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  // background-color: #FF8197;
  background-color: #FFF1ED;
  height: 130px;
  border-bottom: 3px solid #FF8197;
  color: #374B73;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 140px;
  height: 140px;
  // border-radius: 50%;
  overflow: hidden;
  margin-left: 80px;
}

.logo img {
  width: auto;
  height: 100%;
}

ul {
  list-style: none;
  display: flex;
}

.nav-item {
  text-decoration: none;
  // color: #FFF1ED;
  color: #374B73;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  // font-weight: bold;
  padding-left: 5px;
  padding-top: 15px;
  margin-right: 80px;
}



.nav-button {
  background: none;
  border: none;
  color: #374B73;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-button--logout {
  background: none;
  border: none;
  color: #374B73;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.nav-profile--pic {
  display: flex;
  overflow: hidden;
}

#profile-pic {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}